{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
{% set important_links = theme.settings.get('important_links') %}
<header class="store-header">
  {# Top Nav #}
  <div class="top-navbar">
    <div class="container flex justify-between">
      <div class="flex-1 flex items-center gap-2">
          {# Footer Menu #}
          {% if important_links %}
            <salla-menu source="footer" topnav></salla-menu>
          {% endif %}

          {# Language & Currency Component #}
          <div class="header-buttons">
              {% if store.settings.is_multilingual or store.settings.currencies_enabled %}
                  <button type="button" onclick="salla.event.dispatch('localization::open')" class="btn--rounded-gray basis-0">
                      <span class="flag iti__flag iti__{{ user.language.country_code }} rounded-sm"></span>
                      <span class="mx-1.5">|</span> <span>{{ currency.symbol }}</span>
                  </button>
                  <salla-localization-modal></salla-localization-modal>
              {% endif %}
          </div>

          {# Scopes | Branches #}
          {% if store.scope %}
              <button class="btn--rounded-gray"
                      onclick="salla.event.dispatch('scopes::open', {'mode': 'default'})">
                  <i class="sicon-location rtl:ml-1 ltr:mr-1"></i> {{ store.scope.name }}
              </button>
          {% endif %}

          {# Search bar #}
          <div class="header-search flex-1">
            <salla-search inline oval height="36"></salla-search>
          </div>
      </div>

      <salla-contacts is-header></salla-contacts>
    </div>
  </div>

  {# Main Nav #}
  <div id="mainnav" class="main-nav-container shadow-default bg-white">
      <div class="inner bg-inherit">
          <div class="container">
              <div class="flex items-stretch justify-between relative">
                  <div class="flex items-center">
                      <a class="lg:hidden mburger mburger--collapse leading-none rtl:ml-4 ltr:mr-4" href="#mobile-menu" aria-label="Open-menu">
                        <i class="sicon-menu text-primary text-2xl"></i>
                      </a>
                      <a class="navbar-brand" href="{{ store.url }}">
                          <img fetchpriority="high" width="100%" height="100%" loading="eager" src="{{ store.logo }}" alt="{{ store.name }} logo">
                          {% if is_page('index') %}
                            <h1 class="sr-only">{{ store.name }}</h1>
                          {% else %}
                            <h2 class="sr-only">{{ store.name }}</h2>
                          {% endif %}
                      </a>
                      <custom-main-menu></custom-main-menu>
                  </div>
                  <div class="flex items-center justify-end">
                      {% if user.type=='user' %}
                        <salla-user-menu avatar-only show-header></salla-user-menu>
                      {% else %}
                          <button class="header-btn" aria-label="user-icon" onclick="salla.event.dispatch('login::open')">
                            <i class="header-btn__icon sicon-user-circle"></i>
                          </button>
                      {% endif %}
                      <salla-cart-summary class="ml-4 rtl:ml-[unset] rtl:mr-4">
                        <i slot="icon" class="header-btn__icon icon sicon-shopping-bag"></i>
                      </salla-cart-summary>
                  </div>
              </div>
          </div>
      </div>
  </div>

<nav class="fixed-bottom d-lg-none py-2" style="background-color:white">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <a href="/">
                    <img id="home-icon" src="{{ imageUrl(asset_url ~ 'home.svg') }}" alt="Home">
                    <div id="mobile-home-text" class="mobile-bar-text" style="color: grey;">{{ trans('blocks.header.homes') }}</div>
                </a>
            </div>
            <div class="col">
                <a href="/categories">
                <img id="cats-icon" src="{{ imageUrl(asset_url ~ 'category.svg') }}" alt="Category">
                  <div id="mobile-cats-text" class="mobile-bar-text" style="color: grey;">{{ trans('blocks.header.cats') }}</div>
                </a>
            </div>
            <div class="col">
                <a href="/categories">
                <img id="brands-icon" src="{{ imageUrl(asset_url ~ 'brands.svg') }}" alt="Brands">
                  <div id="mobile-brands-text" class="mobile-bar-text" style="color: grey;">{{ trans('blocks.header.brands') }}</div>
                </a>
            </div>
            <div class="col">
                <a class="a-shopping-carts" href="/cart">
                    <img id="cart-icon" src="{{ imageUrl(asset_url ~ 'cart.svg') }}" alt="Cart">
                    <span class="cart-badge d-none"></span>
                   <div id="mobile-cart-text" class="mobile-bar-text" style="color: grey;">{{ trans('blocks.header.carts') }}</div>
                </a>
            </div>
            <div class="col">
                {% if user.type=='user' %}
                  <a href="/profile">
                    <img class="van-icon__image" src="{{ imageUrl(asset_url ~ 'account.svg') }}">
                    <div id="mobile-bar-text" class="mobile-bar-text" style="color: grey;">{{ trans('blocks.header.profiles') }}</div>
                  </a>
               {% else %}
                 <a href="" onclick="salla.event.dispatch('login::open')">
                    <img class="van-icon__image" src="{{ imageUrl(asset_url ~ 'account.svg') }}">
                    <div id="mobile-bar-text" class="mobile-bar-text" style="color: grey;">{{ trans('blocks.header.profiles') }}</div>
                  </a>
               {% endif %}

            </div>
        </div>
    </div>
</nav>
</header>




<script>
document.addEventListener('DOMContentLoaded', function() {
    // Define mappings for icons and their active states
    var icons = [
        { id: 'home-icon', path: '/', activeSrc: "{{ imageUrl(asset_url ~ 'home-active.svg') }}" },
        { id: 'cats-icon', path: '/categories', activeSrc: "{{ imageUrl(asset_url ~ 'category-active.svg') }}" },
        { id: 'brands-icon', path: '/brands', activeSrc: "{{ imageUrl(asset_url ~ 'brands-active.svg') }}" },
        { id: 'cart-icon', path: '/cart/view', activeSrc: "{{ imageUrl(asset_url ~ 'cart-active.svg') }}" }
    ];

    // Define mappings for text elements and their colors
    var texts = [
        { id: 'mobile-home-text', path: '/' },
        { id: 'mobile-cats-text', path: '/categories' },
        { id: 'mobile-brands-text', path: '/brands' },
        { id: 'mobile-cart-text', path: '/cart/view' }
    ];

    // Update icons based on the current path
    icons.forEach(function(icon) {
        var element = document.getElementById(icon.id);
        if (element && location.pathname === icon.path) {
            element.src = icon.activeSrc;
        }
    });

    // Update text colors based on the current path
    texts.forEach(function(text) {
        var element = document.getElementById(text.id);
        if (element) {
            element.style.color = location.pathname === text.path ? 'black' : 'grey';
        }
    });
});
</script>
{% if store.scope %}
    <salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}
